/*carParkMeter*/
.myaccountPage{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
    border: 1px solid;
    overflow: visible;
    margin: auto;
    background-color: rgb(48, 118, 142);
    border-radius:10px;
    margin-top: 11px;
    margin-left: 140;
    margin-bottom: 131;

}

.insideSbox{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 170px;
    border: 1px solid;
    overflow: visible;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-left: 25;
    margin-bottom: 150;
}
.rightbox{
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 365;
    border: 1px solid;
    overflow: visible;
    margin: auto;
    background-color: rgb(48, 118, 142);
    border-radius:10px;
    margin-top: -385px;
    margin-right: 140;
    margin-bottom: 20;

}

.leftboxinside{
    background-color: rgb(255, 255, 255);
    width: 750px;
    height: 285px;
    border: 1px solid;
    overflow: visible;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-right: 22;
    margin-bottom: 150;
}


.meterButton2{
    margin-left: 100;
    background: aqua;
    padding: 15 30;
    border-radius:10px;
  
}
.meterButton1{
    background: aqua;
    padding: 15 30;
    border-radius: 10px;
}