.cpName {
    text-align: center;
	overflow: hidden;
	position: relative;
    background-color: rgb(255, 255, 255);
    width: 1500px;
    height: 790px;
    border: 1px solid;
    overflow: visible;
    margin: 10;
}


.a {
	outline: none;
	text-decoration: none;
}


.header{
    padding:5px 0;
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: white;
}

.navLogo{
    float: left;
    margin-top: 11;
}

.logoImage{
    width: auto;
    display: block;
    max-height: 100px;
    border-radius: 50%;
}

.navtext{

    margin: 10;
    padding: 10;
    font-family: didot;
    font-size: 25px;
    list-style: none;
    background-color: rgb(97, 97, 97);
   

}

.navtext li {
    padding: 2em;
    display: inline-block;
    margin: 0 0 0 15px;
    color: rgb(248, 247, 247);
    
    
}
.navtext li :hover{
    background-color: #ca81f7;
}

.navtext li:first-child{
    margin-left: 0;
}
.navtext a{
    color: currentColor;
}
.navtext a :hover{
    color: black;
}
.navtext li right {
    text-align: right;
}
.inside1{
    margin-top: -30;
    margin-left: -1000px;
	
}

.login{
    margin-left:-20;
    margin-top: 10;
}
.inside{
   

    background-color: rgb(255, 255, 255);
    width: 830px;
	padding:10px;
    height: 500px;
    border: 1px solid;
    overflow: visible;
    margin: auto;
    background-color: rgb(48, 118, 142);
    border-radius:10px;
    margin-top: 11px;
}


input[type=text], select {
    width: 100%;
    padding: 10px 20px;
    margin: 4px 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  input[type=text2], select {
    width: 15%;
    padding: 12px 10px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:0;
    
  }

  input[type=submit2] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input[type=submit2]:hover {
    background-color: #45a049;
  }
  

  .fname{
      margin-left:20;
	   

  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form1 {
    border-radius: 10px;
    background-color: #3e74a7;
    padding:40px;
    height: 450;
    margin-top: 25;
    margin-left: 25;
    margin-right: 25;
  }
  .form {
	   margin-top: -50;
    border-radius: 10px;
 
    padding:10px;
    height: 450;
  
  }
.frogotPw{
    margin-top: -1;
    text-align: left;
}
.frogotLink{
    color: rgb(106, 38, 38);
}
.underLine{
    margin-top: 1;
    border: 1px solid black;
}
.googleLogo{
    width: auto;
    display: block;
    max-height: 25px;
    
}
.fbLogo{
    width: auto;
    display: block;
    max-height: 25px;
    margin-top: 5;
    
}
.icone{
    float: left;
    margin-left: 20;
    margin-top: 20;
   /* width: auto;
    display: block;
    max-height: 50px;
    border-radius: 100%;*/
}
.payicone{
    float:left;
    margin-left: 20;
    margin-top: 20;

}
.payiconeset{
    float: left;
    margin-left: 200;
}

.helpicone1{
    float: left;
    margin-left: 200;
}
.helpicone{
    float:left;
    margin-left: 20;
    margin-top: 20;

}
.feedbackicone1{
    float: left;
    margin-left: 200;

}
.feedbackicone{
    float:left;
    margin-left: 20;
    margin-top: 20;
}


}
.insideSbox{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 170px;
    border: 1px solid;
    overflow: visible;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-left: 25;
    margin-bottom: 150;
}


}


.finalText{
    color: rgb(204, 87, 87);
    font-size: small;
    margin-top: -10;
   
}









* {box-sizing: border-box}



