/* Nav bar*/
.navbar{
    background-color:white;
    overflow:hidden;
    } 

.navbar a{
        text-decoration:none;
        text-align: center;
        padding: 14px 16px;
        float: left;
        color:black;
    }

    .navbar a:hover
    {
        background-color:#ccc;
    }

.content
    {
        
        position:absolute;
        min-width:160px;
        z-index:1;
        box-shadow: 0px 1px 1px 1px white;
        margin-top:50px;
        display:none;
        
    }

    .content a{
        display:block;
        float:none;
        background-color:black;
        text-decoration:none;
        text-align:left;
        padding:14px 16px;
        
    }


.navtext{

    margin: 10;
    padding: 10;
    font-family: didot;
    font-size: 25px;
    list-style: none;
    background-color: rgb(97, 97, 97);
   

}

.navtext li {
    padding: 2em;
    display: inline-block;
    margin: 0 0 0 15px;
    color: rgb(248, 247, 247);
    
    
}
.navtext li :hover{
    background-color: #ca81f7;
}

.navtext li:first-child{
    margin-left: 0;
}
.navtext a{
    color: currentColor;
}
.navtext a :hover{
    color: black;
}
.navtext li right {
    text-align: right;
}


    /* Page */

.cpName {
    text-align: center;
     overflow: hidden;
     position: relative;
    background-color: rgb(255, 255, 255);
    width: 1500px;
    height: 700px;
    border: 1px solid;
    overflow: visible;
    margin: 10;
    }
    
    
.a {
    outline: none;
    text-decoration: none;
    }
    
    
.header{
    padding:5px 0;
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: black;
}
    
.navLogo{
     float: left;
     margin-top: 11;
    }

.logoImage{
    width: auto;
    display: block;
    max-height: 100px;
    border-radius: 50%;
    }



.inside{
   

    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 383px;
    border: 1px solid;
    overflow: visible;
    margin: auto;
    background-color: rgb(48, 118, 142);
    border-radius:10px;
    margin-top: 11px;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form1 {
    border-radius: 10px;
    background-color: #3e74a7;
    padding: 20px;
    height: 295;
    margin-top: 25;
    margin-left: 25;
    margin-right: 25;
  }

.frogotPw{
    margin-top: -1;
    text-align: left;
}

.frogotLink{
    color: rgb(106, 38, 38);
}

.underLine{
    margin-top: 1;
    border: 1px solid black;
}

/*Logos*/
.googleLogo{
    width: auto;
    display: block;
    max-height: 25px;
    
}
.fbLogo{
    width: auto;
    display: block;
    max-height: 25px;
    margin-top: 5;
    
}
.icone{
    float: left;
    margin-left: 20;
    margin-top: 20;
   
}
.payicone{
    float:left;
    margin-left: 20;
    margin-top: 20;

}
.payiconeset{
    float: left;
    margin-left: 200;
}

.helpicone1{
    float: left;
    margin-left: 200;
}
.helpicone{
    float:left;
    margin-left: 20;
    margin-top: 20;

}
.feedbackicone1{
    float: left;
    margin-left: 200;

}
.feedbackicone{
    float:left;
    margin-left: 20;
    margin-top: 20;
}

/*Tables*/
table{
    width: 700px;
    text-align: center;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 8px 5px;
    text-align: center;
}


/*Body style*/
body {
    height: 100vh;
    padding: 32px;
      display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f2f7ff;
    font-family: "Libre Franklin", Verdana, sans-serif;
    color: #697280;
  }